<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.six.pethospital.oauth.mapper.SLUMapper">
  <resultMap id="BaseResultMap" type="com.ecnu.six.pethospital.oauth.entity.SLU">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="local_u_id" jdbcType="INTEGER" property="localUId" />
    <result column="social_u_id" jdbcType="INTEGER" property="socialUId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, local_u_id, social_u_id
  </sql>
  <select id="selectByExample" parameterType="com.ecnu.six.pethospital.oauth.entity.SLUExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_l_u
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_l_u
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--  selectBySID-->
  <select id="selectBySID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_l_u
    where social_u_id = #{sid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_l_u
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ecnu.six.pethospital.oauth.entity.SLUExample">
    delete from s_l_u
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ecnu.six.pethospital.oauth.entity.SLU" useGeneratedKeys="true" keyProperty="id">
    insert into s_l_u (id, local_u_id, social_u_id
      )
    values (#{id,jdbcType=INTEGER}, #{localUId,jdbcType=INTEGER}, #{socialUId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecnu.six.pethospital.oauth.entity.SLU" useGeneratedKeys="true" keyProperty="id">
    insert into s_l_u
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="localUId != null">
        local_u_id,
      </if>
      <if test="socialUId != null">
        social_u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="localUId != null">
        #{localUId,jdbcType=INTEGER},
      </if>
      <if test="socialUId != null">
        #{socialUId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ecnu.six.pethospital.oauth.entity.SLUExample" resultType="java.lang.Long">
    select count(*) from s_l_u
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update s_l_u
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.localUId != null">
        local_u_id = #{record.localUId,jdbcType=INTEGER},
      </if>
      <if test="record.socialUId != null">
        social_u_id = #{record.socialUId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update s_l_u
    set id = #{record.id,jdbcType=INTEGER},
      local_u_id = #{record.localUId,jdbcType=INTEGER},
      social_u_id = #{record.socialUId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecnu.six.pethospital.oauth.entity.SLU">
    update s_l_u
    <set>
      <if test="localUId != null">
        local_u_id = #{localUId,jdbcType=INTEGER},
      </if>
      <if test="socialUId != null">
        social_u_id = #{socialUId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecnu.six.pethospital.oauth.entity.SLU">
    update s_l_u
    set local_u_id = #{localUId,jdbcType=INTEGER},
      social_u_id = #{socialUId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
